.board {
  display: table;
  width: 350px;
  border-spacing: 5px;
  margin-top: 5vh;
  height: 420px;
  .row {
    display: table-row;
    height: 30px;
    width: 100%;
    width: 3px;
    .cell {
      display: table-cell;
      border: 2px #3a3a3c solid;
      color: white;
      height: 1px;
      width: 100px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 23px;
      text-transform: capitalize;
      vertical-align: middle;
      text-align: center;
    }
    .characterIsInWord {
      background-color: #c9b458;
      border: none;
    }
    .correctCellPosition {
      background-color: #538d4e;
      border: none;
    }
    .wrongGuess {
      background-color: #86888a;
      border: none;
    }
  }
}

@media (min-width: 720px) {
  .board {
    margin-top: 10vh;
  }
}
